
@font-face { src: url("./assets/LiberationSansR.ttf"); font-family: Libr; }
@font-face { src: url("./assets/LiberationSansB.ttf"); font-family: Libb; }

html, body {
	margin: 0;
	padding: 0;
}

.flexRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flexRowBoth {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: center;
	align-items: center;
}

.flexColumnNone {
	display: flex;
	flex-direction: column;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexColumnBoth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flexColumnEnd {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}



#basket {
	width: 90vw;
	height: auto;
	margin: 5vw 0 0 5vw;
	background-color: lightsteelblue;
	font-family: Libr;
	letter-spacing: 0.1rem;
	font-size: 1.6rem;
	border-radius: 2rem;

}

#heading {
	padding-top: 4rem;
	margin: 0 2rem;
	font-size: 2.4rem;
	text-align: center;
}

#headingSupport {
	margin: 1rem 3rem 3rem 3rem;
	font-size: 2rem;
	text-align: center;	
}

.entry {
	margin: 0rem 6rem 2rem 6rem;
}

.entryIntro {
	text-align: center;		
}

#howMany {
	width: 100%;
	height: auto;
}

.quantities {
	width: 3rem;
	height: 3rem;
	border-style: solid;
	border-color: lightsteelblue;
	border-width: 0.25rem;
	border-radius: 1.75rem;
	margin: 1rem 0.5rem;
}

.quantities:hover {
	font-family: Libb;
	cursor: -webkit-grab;	
	cursor: grab;
	color: firebrick;	
	border-color: black;
}

.mixture {
	width: 10rem;
	height: 3rem;
	margin: 0.5rem 0;	
}

.mixture:hover {
	font-family: Libb;
	cursor: -webkit-grab;	
	cursor: grab;
	color: firebrick;
	text-decoration-line: underline;
	text-decoration-color: black;
	text-decoration-style: solid;
}

#submitIt {
	padding-bottom: 3rem;
}

#sendPreferences {
	font-family: Libb;
	color: white;
	font-size: 1.4rem;
	padding: 0.6rem 1rem;
	border-radius: 0.4rem;
	background-color: royalblue;
	border: none;

}
